# updates
UPDATE=false						# downloads and updates prerequisites

# evil twin
ESSID=zzzz							# name of the evil twin access point
CHANNEL=6							# wifi channel of the evil twin access point
BSSID= 20:4E:7F:00:6D:E2			# the MAC address of the wireless router we are attacking

# network interface
BRIDGE=wlan0						# network interface connected to the internet, usually wlan0 or eth0

# monitor network interface
WLAN=wlan1							# wirless adapter, either built in or usb
USB_WIFI_ADAPTER=1A:48:98:63:A6:7E	# Adapter MAC address

# don't configure settings below this line
MON=mon
WLANMON=$WLAN$MON
